//variables
$primaryColor: #110a29;
$secondaryColor: #8750f59f;
$tertiaryColor: #1c0d4fc1;

$lightPrimary: #f9f1e8;
$transparent: rgba(0, 0, 0, 0);
$textShadow: #8d9aa3;
$overlay: rgba(255, 255, 255, 0.3);
$gray: #585757;
$white: #ddd;
$dark: #232223;
$black: black;
$light: #ccc;
$smallerFontSize: 0.9rem;
$baseFontSize: 1rem;
$smallFontSize: 1.1rem;
$mediumFontSize: 1.2rem;
$largeFontSize: 1.5rem;
$largerFontSize: 2rem;
$captionSize: 2.8rem;
$captionWeight: 600;
