@import "_variables";
@import "base";
@import "_mixins";
@import "_mediaQuery";

.login-register-container {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/bg3.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  @include mediaQuery(767px) {
    background-position: 70% top;
  }

  .form {
    width: 50%;
    height: 100vh;
    // background-color: rgb(21, 102, 174);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 5rem !important;
    gap: 2rem;
    @include mediaQuery(767px) {
      width: 100%;
    }
    .form-field-wrapper {
      label {
        color: $primaryColor;
      }
      input {
        width: 100%;
        height: 7vh;
        border-radius: 10px;
        border: 0.01px solid #1c0d4f48;
        padding-inline: 1rem !important;

        &::placeholder {
          padding-inline: 0.5rem;
          color: $tertiaryColor;
        }
      }
    }
    .forg {
      display: flex;
      justify-content: space-between;
      input {
        accent-color: $tertiaryColor;
      }
    }
    .btn {
      @include Button($white, $tertiaryColor, $primaryColor);
      //   &:hover::before {
      //     background-color: $tertiaryColor;
      //     width: 100%;
      //   }
    }
  }
}

.signup-register-container {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/bg3.svg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  .form {
    width: 50%;
    height: 100vh;
    // background-color: rgb(21, 102, 174);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 5rem !important;
    gap: 2rem;
    .form-field-wrapper {
      label {
        color: $primaryColor;
      }
      input {
        width: 100%;
        height: 7vh;
        border-radius: 10px;
        border: 0.01px solid #1c0d4f48;
        padding-inline: 1rem !important;

        &::placeholder {
          padding-inline: 0.5rem;
          color: $tertiaryColor;
        }
      }
    }
    .forg {
      display: flex;
      justify-content: space-between;
      input {
        accent-color: $tertiaryColor;
      }
    }
    .btn {
      @include Button($white, $tertiaryColor, $primaryColor);
      //   &:hover::before {
      //     background-color: $tertiaryColor;
      //     width: 100%;
      //   }
    }
  }
}
