@import "_variables";
@import "base";
@import "_mixins";
@import "_mediaQuery";
.create_event_container {
  width: 80%;
  height: 100vh;
  overflow-y: scroll;
  //   background-color: darkblue;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;

  .create_event {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 4rem;
    // background-color: brown;
    padding-block: 0 5rem !important;
    h2 {
      font-size: $largeFontSize;
      font-weight: 600;
      padding-block: 3rem;
      text-align: center;
    }
    .close {
      font-size: $largeFontSize;
      position: absolute;
      right: 3rem;
      top: 2rem;
    }
    .form {
      //   border: 0.1px solid saddlebrown;
      width: 80%;
      padding-bottom: 4rem;
      .inp {
        padding-block: 1rem;

        //
      }
      span {
        color: red;
      }

      input {
        width: 100%;
        height: 7vh;
        border-radius: 10px;
        border: 0.01px solid #1c0d4f48;
        padding-inline: 1rem;
      }
      .mode {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;

        .privacy {
          display: flex;
          flex-direction: column;
          select {
            width: 100%;
            height: 7vh;
            border-radius: 10px;
            border: 0.01px solid #1c0d4f48;
            padding-inline: 1rem;
          }
        }
        .medium {
          display: flex;
          flex-direction: column;
          select {
            width: 100%;
            height: 7vh;
            border-radius: 10px;
            border: 0.01px solid #1c0d4f48;
            padding-inline: 1rem;
          }
        }
      }
      .modee {
        // display: flex;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        align-items: center;

        .accept,
        .ticket,
        .category {
          display: flex;
          flex-direction: column;
          justify-content: center;

          select {
            width: 100%;
            height: 7vh;
            border-radius: 10px;
            border: 0.01px solid #1c0d4f48;
            padding-inline: 1rem;
          }
        }
      }
      .file {
        input {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 0.5rem;
        }
      }
      .textarea {
        display: flex;
        flex-direction: column;

        textarea {
          height: 7vh;
          border-radius: 10px;
          border: 0.01px solid #1c0d4f48;
          padding-inline: 1rem;
          padding-block: 0.5rem;
        }
      }
      .date {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        input {
          width: 100%;
        }
      }
      .btn {
        margin: auto;
        margin-top: 2rem;
        text-wrap: nowrap;
      }
    }
  }
}
// Added events component
.mapped {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  display: grid;
  // grid-template-columns: repeat(2, 1fr) !important;
  // gap: 2rem; // Adjust the gap value according to your preference
  // padding-bottom: 13rem;
  // padding-inline: 2rem;
  position: relative;
  // padding-block: 2rem;

  // padding-block: 3rem 18rem;
  .icon_x {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 50px;
  }
  h1 {
    font-size: $largeFontSize;
  }
  .sidenav {
    width: 20%;
    position: fixed;
  }
  .other_side {
    height: 100vh;
    // overflow-y: scroll;
    width: 80%;
    position: absolute;
    left: 20%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // padding-block: 5rem 0;

    .heading {
      padding-block: 3rem;
      text-align: center;
    }
    .each_event {
      padding-block: 3rem;
      padding-inline: 3rem;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr) !important;

      gap: 3rem;

      .noevent {
        width: 100%;
        // background-color: aqua;
        position: absolute;
      }
      .mapped_event {
        height: 80vh;
        width: 100%;
        // background-color: azure;
        border: 0.01px solid rgba(128, 128, 128, 0.461);
        box-shadow: 2px 2px 10px gray;
        padding-inline: 1.5rem;
        padding-block: 1.5rem;
        border-radius: 10px;
        position: relative;
        padding-bottom: 4rem;

        .addevent_img {
          width: 100%;
          height: 50%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .mapped_details {
      padding-block: 1rem 0;
      span {
        font-weight: 800;
      }
      h1 {
        font-weight: 800;
        font-size: $mediumFontSize;
      }
      .catte {
        position: absolute;
        top: 30px;
        background-color: $white;
        padding: 0.5rem;
        border-radius: 10px;
      }
      .medium {
        position: absolute;
        right: 20px;
        top: 45%;
        background-color: $white;
        border-radius: 10px;
        .icon {
          padding: 1.7px;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

// Editevent component
.edit-event {
  width: 100%;
  height: 100vh;

  .sidenav {
    width: 20%;
    position: fixed;
  }
  .other_side {
    width: 80%;
    height: 100vh;
    position: absolute;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .otherside_card {
      width: 60%;
      height: 80%;
      position: relative;
      border-radius: 10px;
      box-shadow: 2px 2px 10px gray;

      .otherside_img {
        width: 100%;
        height: 50%;
        border-radius: 10px;
        &::before {
          content: "";
          width: 100%;
          height: 50%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 10px;
          background-color: rgba(0, 0, 0, 0.261);
          // z-index: 1;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .textt {
      padding-inline: 1.5rem;
      padding-block: 1.5rem;
    }
    .actions {
      position: absolute;
      top: 10%;
      left: 20%;
      // background-color: antiquewhite;
      width: 35%;
      display: flex;
      justify-content: space-between;
      font-size: $smallerFontSize;
      z-index: 10;
      button {
        z-index: 10;
        p {
          display: flex;
          align-items: center;
          gap: 0.6rem;
        }
      }
      .btn {
        @include Button($white, $tertiaryColor, $primaryColor);
        width: 40px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-wrap: nowrap;
        z-index: 10;
      }
    }
  }

  .delete-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.519);
    display: flex;
    justify-content: center;
    align-items: center;

    .delete-modal {
      background: white;
      padding: 20px;
      border-radius: 8px;
      text-align: center;
      padding-inline: 2rem;
      margin-left: 20%;

      h2 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 20px;
      }

      .modal-buttons {
        display: flex;
        justify-content: center;
        gap: 2rem;

        .btn {
          @include Button($white, $tertiaryColor, $primaryColor);
          width: 40px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-wrap: nowrap;
        }
      }
    }
  }
}
.no_events {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

// Update event
.update_event {
  width: 100%;
  height: 100vh;

  .sidenav {
    width: 20%;
    position: fixed;
  }
  .other_side {
    width: 80%;
    height: 100vh;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
  }
}

// Rsvp Component
.rsvp {
  width: 100%;
  height: 100vh;

  .sidenav {
    width: 20%;
    position: fixed;
  }
  .other_sideNav {
    width: 80%;
    height: 100vh;
    position: absolute;
    overflow-y: scroll;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-inline: 3rem;
    padding-block: 5rem;
    .each_rsvp {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
}
