@import "_variables";
@import "base";
@import "_mixins";
@import "_mediaQuery";
.dashboard {
  // background-color: floralwhite;
  width: 100%;
  height: 100vh;
  display: flex;
  // flex-direction: column;

  .main-content {
    width: 80%;
    height: 100vh;
    position: fixed;
    right: 0;
    .header {
      display: flex;
      justify-content: space-between;

      padding-inline: 2rem;
      padding-block: 1.5rem;
      .dash {
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
          color: gray;
          gap: 1rem;
        }
        h1 {
          font-size: $largerFontSize;
          font-weight: 700;
        }
      }
      .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
          font-size: $smallFontSize;
          // background-color: gold;
        }
        .avat {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  .btn {
    @include Button($white, $tertiaryColor, $primaryColor);
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
  }
}
