.Updates {
  width: 100%;
  background: white;
  border-radius: 0.7rem;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  /* margin-top: 2.5rem; */
}
.update > img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  object-fit: cover;

  zoom: 1.3;
}
.update {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.noti > div > span:nth-of-type(1) {
  font-weight: bold;
}
.note {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  width: 70%;
}
@media screen and (max-width: 1200px) {
  span {
    font-size: 15px;
  }
  .Updates {
    margin-bottom: 1rem;
  }
}
